<html>
    <head>
          <link href="../css/cpu.css" rel="stylesheet" type="text/css" media="all">
    
    </head>
    <body>
        {{#aWorksheets}}
        <div class="worksheet">
          <div class="printpage">
            <h1>School as a CPU : {{sGroupName}}</h1>
            
            <h2>Worksheet ID : {{oLevel.sGrade}}/{{iSheetNumber}}</h2>
            
            <table class="student">
                <tr>
                  <th>Level</th><td>{{oLevel.sLevelName}} / {{oLevel.sGrade}}</td>
                  <th>Sheet Number</th><td>{{iSheetNumber}}</td></tr>
                <tr>
                  <th>Student Name</th><td>&nbsp;</td>
                  <th>Date</th><td>&nbsp;</td>
                </tr>
            </table>
            
            <div class="diagram">
              <img alt="" src="../cycle-3.svg">
              <div class="box fetch">
                <h4>Fetch</h4>
                <p>{{oLevel.fetch}}</p>
              </div>
              <div class="box decode">
                <h4>Decode</h4>
                <p>{{oLevel.decode}}</p>
              </div>
              <div class="box execute">
                <h4>Execute</h4>
                <p>{{oLevel.execute}}</p>
              </div>
            </div>
            
            <h3>Your Program</h3>
            <table>
                <tr>
                    <th class="ram">RAM Address</th>
                    <th class="physical">Physical Location</th>
                    <th>Data</th>
                    {{#if oLevel.gradeA}}
                        <th>Operation</th>
                        <th>Operand</th>
                    {{else}}
                      <th>Decoded</th>
                    
                    {{/if}}
                    <th>Current Number</th>
                </tr>
                <tr>
                  <td>0</td>
                  <td class="firstnumber" colspan="{{#if oLevel.gradeA}}4{{else}}3{{/if}}">First Number</td>
                  <td >
                   {{iSheetNumber}}
                  </td>
                </tr>
                {{#aChosen}}<tr>
                    <td>{{iStep}}</td>
                    <td>{{sRoomName}}</td>
                    <td>&nbsp;</td>
                    {{#if ../oLevel.gradeA}}
                        {{#if ../oLevel.gradeAA}}
                           <td>&nbsp;</td>
                        {{else}}
                            <td {{#if bListOperand}}class="blocked"{{/if}}>&nbsp;</td>
                        {{/if}}
                    {{else}}
                        <td>&nbsp;</td>
                    {{/if}}
                    {{#if ../oLevel.gradeA}}
                        {{#if ../oLevel.gradeAA}}
                           <td>&nbsp;</td>
                        {{else}}
                            <td {{#if bListOperation}}class="blocked"{{/if}}>&nbsp;</td>
                        {{/if}}
                    {{/if}}
                    <td>&nbsp;</td>
                </tr>{{/aChosen}}
            </table>
          </div>
          <div class="printpage">
            <div class="instructions">
              <h2>Instruction Set</h2>
              <table>
                  <tr>
                      <th>Data</th>
                      
                      {{#if oLevel.gradeB}}
                          <th>Operation</th>
                          <th>Operand</th>
                      {{else}}
                          <th>Instruction</th>
                      {{/if}}
                  </tr>
                  {{#aInstructions}}<tr>
                      <td>{{sData}}</td>
                      {{#if ../oLevel.gradeB}}
                          <td>{{operation}}</td>
                          <td>{{operand}}</td>
                      {{else}}
                          <td>{{operation}}{{operand}}</td>
                      {{/if}}
                  </tr>
                  {{/aInstructions}}
              </table>
            </div>
            
            <div class="notes">
            
              {{#if oLevel.gradeA}}
                <h2>Op Codes - Which do not need an operand.</h2>
                <dt>INC</dt><dd>Increment the Current Number (add 1 to it)</dd>
                <dt>DEC</dt><dd>Decrement the Current Number (subtract 1 from it)</dd>
                <dt>NOP</dt><dd>No Operation (Do nothing)</dd>
              
              {{/if}}
            
              <h2>Notes</h2>
              
              <h3>All computers</h3>
              <ul>
                  <li>Fetch (binary data from RAM)</li>
                  <li>Decode (that data into operations and numbers)</li>
                  <li>Execute (the operations with the numbers)</li>
              </ul>
              
              {{#if oLevel.gradeB}} 
              <h3>All Practical Computers</h3>
              <ul>
                  <li>Store the operations and other data in separate memory addresses</li>
                  <li>One operation or number in each space in RAM</li>
                  <li>There will be an instruction which means Add (+), this will take the current number and add it to the number in the next RAM address.</li>
              </ul>
              {{/if}}
              
              {{#if oLevel.gradeA}}
              <h3>Von Nuemann Architecture CPUs</h3>
              <ul>
                  <li>Data in RAM can represent instructions or numbers</li>
              </ul>
              {{/if}}
            </div>
          </div>
        </div>
        {{/aWorksheets}}
    </body>
</html>
